.logo {
    max-width: 2.5rem;
    max-height: 2rem;
    height: auto;
    width: auto;
    margin: auto;
}

h2 {
    margin-bottom: 0;
    margin-top: 3rem;
}

.project-title-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
}


.project-title-bar * {
    margin-right: 1rem;
}

.project-title-bar h3 {
    text-align: center;
    width: 100%;
}

.project-description {
    margin: 0.5rem 0;
    min-height: 2rem;
    text-align: left;
    flex: 2;
    color: var(--foreground-secondary);
}

.project-description a {
    color: var(--foreground-secondary);
}

.project-logo-container {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
}

.project {
    display: flex;
    flex-direction: column;
    background-color: rgba(127, 127, 127, 0.10);
    border-radius: 0.3rem;

    padding: 0.5rem 1rem;


    margin-top: 1rem;
    border-left: solid var(--accent) 0.3rem;
    box-shadow: 0.3rem 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.15);
    /*box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, .15);*/
}

.project-links  {
    display: flex;
    flex-direction: row-reverse;
}
.project-links .icon{
    margin-right: 0.20rem;
}
.project-links a {
    color: var(--accent);
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 1em;
}

.project-links a:hover {
    background-color: rgba(127, 127, 127, 0.10);
}

@media (min-width: 59rem) {
    .half {
        width: 50%;
        display: inline-block;
        padding: 1rem;

    }

    .project {
        height: 100%;
    }

    .projects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

}