<div class="half">
    <div class="project">
        <div class="project-title-bar">
            <div class="project-logo-container">
                
                {{logo}}
            </div>
            <h3 class="project-title">{{name}}</h3>
            <div class="project-logo-container">
            </div>
        </div>
        <div class="project-description">{{description}}</div>
        <div class="project-links">
            {{source}}
            {{launch}}
        </div>
    </div>
</div>