* {
  box-sizing: border-box;
}

html {
  --primary-500: #009692;
  --primary-400: #00a6a5;
  --primary-300: #00b6b6;
  --primary-200: #6ccbcc;
  --primary-100: #a9dfe0;
  --secondary-900: #b60000;
  --secondary-800: #c41811;
  --secondary-700: #d12119;
  --secondary-600: #e32d1e;
  --secondary-500: #f1391c;
  --secondary-400: #ee4a3d;
  --secondary-300: #e66c65;
  --secondary-200: #f19590;

  --amber-500: #FFCA28;
  --amber-600: #ffb301;
  --amber-800: #ff8e01;

  --light-background-primary: #fafafa;
  --light-foreground-primary: #c0c0c0;

  --dark-background-primary: #000000;
  --dark-foreground-primary: #111111;

  --light-background-secondary: #e7e7e7;
  --light-foreground-secondary: #969696;

  --dark-background-secondary: #111111;
  --dark-foreground-secondary: #383838;

  --light-background-tertiary: #e7e7e7;
  --light-foreground-tertiary: #808080;
  
  --dark-background-tertiary: #111111;
  --dark-foreground-tertiary: #2c2c2c;
}

body {
  --background-primary: var(--dark-background-primary);
  --foreground-primary: var(--light-foreground-primary);
  --background-secondary: var(--dark-background-secondary);
  --foreground-secondary: var(--light-foreground-secondary);
  --background-tertiary: var(--dark-background-tertiary);
  --foreground-tertiary: var(--light-foreground-tertiary);

  background-color: var(--background-primary);
  color: var(--foreground-primary);

  transition: color 1s;
  transition: background-color 1s;
}

.light {
  --background-primary: var(--light-background-primary);
  --foreground-primary: var(--dark-foreground-primary);
  --background-secondary: var(--light-background-secondary);
  --foreground-secondary: var(--dark-foreground-secondary);
  --background-tertiary: var(--light-background-tertiary);
  --foreground-tertiary: var(--dark-foreground-tertiary);
}

.theme-toggle {
  cursor: pointer;
  user-select: none;
}

.theme-toggle:hover {
  color: var(--amber-800);
}

:not(.light) .light-icon {
  display: none;
}

.light .dark-icon {
  display: none;
}

.light .light-icon {
  display: initial;
}


body {
  font-family: 'Roboto', "Segoe UI", "Liberation Sans", sans-serif;
  margin: auto;
  max-width: 60rem;
  padding: 0 1rem;
  margin: 0 auto;
  font-weight: 400;
  font-stretch: 100%;
  font-optical-sizing: auto;
  
}

h1 {
  font-size: 2em;
}
p{
  text-indent: 2em;
  font-size: 0.9rem;
}

.navbar {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a,
.navbar span {
  color: var(--foreground-secondary);
  text-decoration: none;
  margin: 0 0.5rem;
  transition: color 0.5s;
}

.navbar a:hover {
  color: var(--primary-300);
}

.nav-separator {
  width: 5rem;
  border: none;
  border-top: var(--foreground-tertiary) solid 1px;
}
#content{
  padding-bottom: 2rem;
}