<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="generator" content="GitLab Pages">
    <title>Plain HTML site using GitLab Pages</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    {{style}}


</head>

<body class="light">
    <div id="top"></div>
    <div id="main">
        <div class="navbar">
            {{nav}}<span class="material-icons-outlined light-icon theme-toggle">light_mode</span><span
                class="material-icons-outlined dark-icon theme-toggle">dark_mode</span>
        </div>
        <hr class="nav-separator" />

        <div id="content">
            {{content}}
        </div>

    </div>

    <script src="bin/theme.js"></script>

</body>

</html>